
@media all and (max-width: 1290px) {

    
}

@media all and (max-width: 768px) {
    #navtop .toggle {
        display: block;
        color: #1ac056;
        padding: 0 20px;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: right;
    } 
    
    
    #navtop ul {
        display: none;
        width: 100%;
    } 
    
    #navtop #drop:checked + ul {
        display: block;
    }
    
}

@media all and (max-width: 680px) {

}

@media all and (max-width: 480px) {
    
}