/* General styles */

body {
    background-color: #383A40;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #291f1a;
    margin: 0;
}


/* Navigation */

#navtop {
    position: fixed;
    width: 100%;
    background-color: #fff;
    right: 0;
    top: 0;
}

#navtop > ul {
    margin: 0;
    float: right;
}

#navtop > ul > li {
    list-style-type: none;
    padding: 20px 40px;
    display: inline-block;
}

#navtop > ul > li > a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 500;
}

#navtop > ul > li > a:hover {
    color: #291f1a;
}

/* Header */

#main-header {
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    height: 100%;
}

#main-header .main-header-content {
    padding: 30vh;
    text-align: center;
}

#main-header .main-header-content > h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 2em;
}

#main-header .main-header-content > h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

/* Span style */

span {
    color: #1ac056;
    font-weight: 700;
}